{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
    <div class="mb-4 text-center">
        <h3><b>您已完成實驗後問卷</b></h3>
        <hr>
        <p class = "mb-4  text-left">
            您在實驗中共獲得：<b>{{total_payoff_no_participation_fee}}</b> 法幣
        <p class="mb-4  text-left">
            您的實驗報酬(含車馬費)為：<b>{{total_NTD_payoff}} 新台幣</b>
        </p>
        <p class="mb-4 text-center">
            <b>確認報酬金額後，請點擊下方按鈕。</b>
        </p>
        
    </div>

    <div class="d-flex justify-content-center">

        {% next_button %}

    </div>

{% endblock %}